<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <meta charset="UTF-8">
        <title>{% block title %}Application Title{% endblock %}</title>
        {% block stylesheets %}
            <style>
                .body{margin: 0px;}
            </style>
        {% endblock %}
    {% endblock %}
</head>

<body>
{% block body %}
    <header>
        {% block header %}
            <div id="header" style="width: 100%; background-color: darkslategrey; color: lightgrey; font-size: 22px; padding: 10px;">Header</div>
        {% endblock %}
    </header>

    <main>
        {% block main %}

        {% endblock %}
    </main>

    <footer>
        {% block footer %}
            <div id="footer" style="width: 100%; background-color: darkslategrey; color: lightgrey; font-size: 22px; padding: 10px;">Footer</div>
        {% endblock %}
    </footer>
{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>